{% comment %} <!DOCTYPE html> {% endcomment %}
{% comment %} <html> {% endcomment %}
{% comment %}   <head> {% endcomment %}
{% comment %}     <meta chrset="utf-8"> {% endcomment %}
{% comment %}     <title>{{ page.title }}</title> {% endcomment %}
{% comment %}     <link rel="stylesheet" href="/assets/css/styles.css"> {% endcomment %}


<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="author" content="{{ page.author }}">
    <meta name="keywords" content="{{ page.keywords | join: " " }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/styles.css' | prepend: site.baseurl }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap"     rel="stylesheet">
    <link rel="icon" href="/assets/images/OniCartoon.png" />

    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.js"></script>
    {% seo %}
  </head>
  <body>
    {% comment %} {% include navigation.html %} {% endcomment %}
    {{ content }}
  </body>
</html>
